/* === COLOR === */

$color-primary: #F68121;
$color-accent: #254ca5;
$color-white: #fff;
$color-lightgrey: #fafafa;
$color-darkgrey: #424242;
$color-darkgrey2: #a14900;

$color-bg: $color-white;
$color-bg-secondary: $color-lightgrey;
$color-text: $color-darkgrey;

/* === TEXT === */
//$font-primary: 'Open Sans', sans-serif;
//$font-heading: 'Libra Baskerville', serif;
$font-primary: 'Source Sans Pro', sans-serif;
$font-heading: 'Lora', serif;

$max-width: 1200px;