@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'icons';
@import 'reset';

body {
	background-color: $color-bg;
	color: $color-text;
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.3;
}
h1,h2,h3,h4 {
	font-family: $font-heading;
	font-weight: 400;
}
h1 {
	font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    text-transform: uppercase;
}

input, select, textarea {
    padding: $gap-sm;
    font-size: 1.15em;
}

input[type='button'], input[type='submit'], button {
    //background: $color-bg-secondary;
    //border: solid 4px $color-accent;
    //color: $color-accent;
    border: none;
    background: $color-accent;
    color: $color-bg-secondary;
    padding: $gap-sm $gap;
    font-size: 1.25em;
    border-radius: $gap;
}

.inner {
	max-width: $max-width;
	margin: 0 auto;
    padding: $gap;
}

.documents {
    margin-bottom: $gap;
    .filter-controls {
        display: flex;
        padding: $gap;
        border: solid 1px $color-border-light;
        border-bottom: none;
        background-color: $color-bg-secondary;

        .filter-item {
            display: flex;
            flex-direction: column;

            &.type-text {
                flex: 1;
            }

            &:not(:last-child) {
                margin-right: $gap;
            }

            label {
                display: block;
                padding-bottom: $gap-xs;
            }
            .inline-label, input[type="checkbox"] + label, input[type="radio"] + label {
                display: inline-block;
                padding-left: $gap-xs;
            }
        }
    }
    .document-list {
        border: solid 1px $color-border-medium;
        li {
            padding: $gap;
            display: flex;
            
            .headline {
                width: 50%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding-right: $gap-sm;
            }
            .publish-date, .modified-date {
                flex: 1;
            }
            .tools {
                flex: inherit;
            }

            &:nth-child(odd) {
                background-color: $color-lightgrey;
            }

            &:not(:last-child) {
                border-bottom: solid 1px $color-border-light;
            }

            &.list-header {
                font-weight: bold;
                background-color: $color-primary;
                color: $color-bg;
                text-transform: uppercase;
                border-bottom-color: $color-border-medium;
            }
        }
    }
}

.create-document {
    display: flex;
    flex-direction: column;
    padding: $gap;
    border: solid 1px $color-border-light;

    .header {
        margin-bottom: $gap;
    }

    .form-item:not(:last-child) {
        margin-bottom: $gap;
    }
}